body {
  background-color: #f0f2f5; /* Modern bir gri tonu */
  
}
.reportTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff; /* Tablo arka plan rengi */
}

.reportTable th, .reportTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Sınır çizgisi */
}

.reportTable th {
  background-color: #cfd8dc; /* Orta gri tonu */
  font-weight: bold;
}
